configuration {
  lines: 5;
  eh: 1;
  bw: 0;
  columns: 2;
  fullscreen: true;
  padding: 300;
  modi: "window,drun,ssh,combi";
  combi-modi: "window,drun,ssh";
  font: "hack 17";
  show-icons:  true;
  terminal: "alacritty";
  sort: true;
  theme: "~/.config/rofi/themes/dark.rasi";
}
