configuration {
	modi: "window,drun,ssh,combi";
	combi-modi: "window,drun,ssh";
	font: "Fantasque Sans Mono 12";
	show-icons:  true;
	terminal: "alacritty";
	drun-display-format: "{name}";
	sort: true;
}

@theme "~/.config/rofi/themes/dr.rasi"
